ENV["EMAIL_USER_NAME"]         = "PUT VALID EMAIL USER NAME"
ENV["EMAIL_PASSWORD"]          = "PUT VALID EMAIL PASSWORD"
ENV['AWS_ACCESS_KEY_ID']       = 'VALID AWS ACCESS KEY'
ENV['AWS_SECRET_ACCESS_KEY']   = 'VALID AWS ACCESS SECRET'
ENV['TWITTER_API_KEY']         = "TWITTER API KEY"
ENV['TWITTER_API_SECRET']      = "TWITTER API SECRET"
